/*font*/
$font: 'Ubuntu', sans-serif;

/*color*/
/* $color_one: #050F15;
$color_two: #1A4C6D;
$color_three: #3498DB;
$color_four: #85C1E9;
$color_five: #C2E0F4;

$color_six : #7CEECE; */

/*color bGenius*/
$color_one: #050F15;
$color_two: #DE3C3C;
$color_three: #ED4E4E;
$color_four: #FF6666;
$color_five: #FF9999;
$color_six : #FFCCCC; 


/* Breathing Dopeness */

/* $color_one: #1D1D29;
$color_two: #6C1827;
$color_three: #9E373B;
$color_four: #EF5C54;
$color_five: #FFE3D0;
$color_six : #FFCCCC; */

/* flat paint */
/* $color_one: #67537A;
$color_two: #867198;
$color_three: #AA99BA;
$color_four: #C2B6D6;
$color_five: #D3CED8;
$color_six : #D3CED8; */

/* global */
$color_red : #D33257;
$color_grey: #D2D7D3;